<html>
<head>
  {% load static %}
  <title>Algorithm Visualizer</title>

  <script src="{% static 'two.js' %}"></script>
  <script src="{% static 'acorn.js' %}"></script>
  <script src="{% static 'interpreter.js' %}"></script>
  <script src="{% static 'visualizer.js' %}"></script>
  <script src="{% static 'animators.js' %}"></script>
  <script src="{% static 'util.js' %}"></script>
  <script src="{% static 'springy.js' %}"></script>
  <script src="{% static 'editor/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'editor/ext-language_tools.js' %}"></script>
  <script src="https://unpkg.com/function-plot/dist/function-plot.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


</head>
<body>

  <div id='left'>

    <div id='draw-shapes'>

    </div>

    <div id='captions'></div>

    <div id="control-panel">
      <div id='controls'>
        <button id="loadButton" class="controlButton" onclick='load();'>Load</button>
        <button id="runButton" class="controlButton">Run</button>
        <button id="stepButton" class="controlButton">Step</button>
        <input type="range" min="1" max="10" value="2" class="slider" id="timeStepRange" name="timeStepRange">
      </div>

      <div class="tab">
        <button id="animationTab" class="tablinks" onclick="openTab(event, 'animation')">Animations</button>
        <button id="addAnimationTab" class="tablinks" onclick="openTab(event, 'addAnimation')">Add Animation</button>
        <button id="demoSelectorTab" class="tablinks" onclick="openTab(event, 'demoSelector')">Demonstrations</button>
        <button id="consoleTab" class="tablinks" onclick="openTab(event, 'console')">Console</button>
        <button id="docTab" class="tablinks" onclick="openTab(event, 'docs')">How To Use</button>
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}"><button class="tablinks">Logout</button></a>
        {% else %}
          <a href="{% url 'login' %}"><button class="tablinks">Login</button></a>
        {% endif %}
      </div>

      <div id="animation" class="tabcontent">
        <h2>Animations</h2>
        <label for="dataStructures">Select visualization type: </label>
        <select class="controlButton" id="dataStructures" name="dataStructures" onchange="changeAvailableAnimations();">
          <option value="list">List</option>
          <option value="graph">Graph/Tree</option>
          <option value="plot">Plot</option>
        </select>
        <label id="demoNameLabel" for="demoName">Demonstration Name: </label>
        <input id="demoName" type="text" name="demoName" value="demo" class="textInput">
        <button id="saveDemoButton" class="controlButton" name="saveButton" onclick="addDemonstration();">Save Demonstration</button>

        <div id="createdAnimations">

        </div>
      </div>

      <div id="addAnimation" class="tabcontent">
        <h2>Create Animation</h2>
        <div id="animationParams">
          <label for="lineNumber">Line Number: </label>
          <input id="lineNumber" type="number" name="lineNumber" value="1" class="textInput">

          <label for="selectedAnimation">Animation: </label>
          <select id="selectedAnimation" class="controlButton" name="selectedAnimation" onchange="changeSelectedAnimation();">
            <option value="test">test</option>
          </select>

          <div id="params">

          </div>

          <button type="addAnimationButton" name="addAnimationButton" onclick="addAnimation();" class="controlButton">
            Add
          </button>

        </div>
      </div>

      <div id="docs" class="tabcontent">
        <h2>How To Use</h2>
        <p>To add an animation to your code, use the Add Animation tab or add them programmatically
          using the createAnimation() function. The parameters for the animations are described below.
          Just put the animation on the line you want it, and whenever the function is called in your
          code, an animation will be added to the animation list when the load button is clicked. The
          run button will automatically move through the animations, or you can use the step button to
          go through manually.
        </p>

        <div id="animationDocs">

        </div>
      </div>

      <div id="demoSelector" class="tabcontent">
        <h2>Demonstrations</h2>
        <p>Select from default demonstrations, or your own saved demonstrations</p>
        <div id="demos">
          <div id="premade" class="demoButtons">
          </div>

          <div id="usermade" class="demoButtons">

          </div>
        </div>
      </div>

      <div id="console" class="tabcontent">
        <textarea id="consoleArea" name="consoleArea" rows="20" cols="80"></textarea>
      </div>
    </div>
  </div>

  <div id='editor'></div>

  <script type="text/javascript">
    userDemonstrations = JSON.parse("{{databaseAnimations|escapejs}}");
    adminDemonstrations = JSON.parse("{{adminAnimations|escapejs}}");
    init();
  </script>

<body>
</html>
