<html>
<head>
  {% load static %}
  <title>Algorithm Visualizer</title>

  <script src="{% static 'two.js' %}"></script>
  <script src="{% static 'acorn.js' %}"></script>
  <script src="{% static 'interpreter.js' %}"></script>
  <script src="{% static 'visualizer.js' %}"></script>
  <script src="{% static 'animators.js' %}"></script>
  <script src="{% static 'util.js' %}"></script>
  <script src="{% static 'editor/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'editor/ext-language_tools.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


</head>
<body>

  <div id='left'>

    <div id='draw-shapes'></div>

    <div id='captions'></div>

    <div id="control-panel">
      <div id='controls'>
        <button class="controlButton" onclick='load(editor.getValue());'>Load</button>
        <button class="controlButton" onclick='execute()'>Run</button>
        <button class="controlButton" onclick='step();'>Step</button>

        <select id="algorithms" onchange="changeInputContent();">
          <option value="Bubble Sort">Bubble Sort</option>
          <option value="Insertion Sort">Insertion Sort</option>
          <option value="Selection Sort">Selection Sort</option>
          <option value="Append">Append</option>
        </select>
      </div>

      <div class="tab">
        <button id="animationTab" class="tablinks" onclick="openTab(event, 'animation')">Animation</button>
        <button class="tablinks" onclick="openTab(event, 'docs')">Docs</button>
      </div>

      <div id="animation" class="tabcontent">
        <h3>Create Animations</h3>
        <p>create animations here</p>
      </div>

      <div id="docs" class="tabcontent">
        <h3>Documentation</h3>
        <p>Animation functions and how to use them</p>
      </div>
    </div>
  </div>

  <div id='editor'></div>

  <script type="text/javascript">
    init();
  </script>

<body>
</html>
