body{
  margin: 0px;
  background-color: #16191B;
  font-family: 'Verdana';
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 53%;
}
.ace_gutter-cell.ace_breakpoint{
  border-radius: 20px 0px 0px 20px;
  background-color: darkslateblue;
}
.ace_gutter-cell:hover{
  border-radius: 20px 0px 0px 20px;
  background-color: slateblue;
}
#draw-shapes{
  height:50%;
  border: 1px solid black;
  margin: 0px;
}
#left{
  width:53%;
}

#controls{
  text-align: center;
}

#algorithms{
  float: right;
}

#captions{
  color: white;
}

.controlButton{
  font-family: inherit;;
  background-color: #131618;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 8px 10px;
  transition: 0.3s;
  margin: 0;
  height: 5%;
}

.controlButton:hover {
  background-color: #555;
}

.tab {
  overflow: hidden;
  background-color: #292B2D;
  margin: 0;
  padding: 0;
}

.tab button {
  font-family: inherit;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #555;
}

.tab button.active {
  background-color: #777;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  padding-left: 35px;
  border-top: none;
  color: white;
}


#addAnimation{
  border: solid;
  border-width: thin;
  border-color: #16191B;
  padding-bottom: 50px;
}

#createdAnimations{
  max-height: 23%;
  margin-top: 10px;
  overflow-y: auto;
  height: auto;
  border: solid;
  border-color: black;
  border-width: thin;
  padding: 20px;
}

.createdAnimation{
  margin-bottom: 15px;
  padding-left: 20px;
  display: inline-flex;
  justify-content: space-between;
  background-color: #292B2D;
  width: 70%;
}

.animationButton{
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 5px 5px;
  margin-right: 50px;
  transition: 0.3s;
}

.animationButton:hover {
  background-color: #555;
}
